<div fxLayout="row wrap"
     fxLayoutAlign="center stretch"
     fxLayoutGap="10px">
  <div fxFlex="45%"
       class="chart-container">
    <app-load-chart></app-load-chart>
  </div>
  <div fxFlex="45%"
       class="chart-container">
    <app-cpu-load-chart></app-cpu-load-chart>
  </div>
  <div fxFlex="45%"
       class="chart-container">
    <app-memory-usage-chart></app-memory-usage-chart>
  </div>
  <div fxFlex="45%"
       class="chart-container">
    <app-network-usage-chart></app-network-usage-chart>
  </div>
</div>
